# 数据库配置
DB_USER=root
DB_PASS=dsw123456
DB_HOST=101.42.34.232
DB_PORT=3306

# Redis 配置
REDIS_HOST=101.42.34.232
REDIS_PORT=6379
REDIS_PASS=dsw123456

# Etcd 配置
ETCD_HOST=101.42.34.232
ETCD_PORT=2379

# Kafka 配置
KAFKA_HOST=101.42.34.232
KAFKA_PORT=9092

# JWT 密钥配置
JWT_ACCESS_SECRET=ThinkTalk
JWT_REFRESH_SECRET=ThinkTalk
