# 数据库配置
DB_USER=root
DB_PASS=your_db_password
DB_HOST=127.0.0.1
DB_PORT=3306

# Redis 配置
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=your_redis_password

# Etcd 配置
ETCD_HOST=127.0.0.1
ETCD_PORT=2379

# Kafka 配置
KAFKA_HOST=127.0.0.1
KAFKA_PORT=9092

# JWT 密钥配置
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
